<%= form_for(@secry) do |f| %>
  <% if @secry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secry.errors.count, "error") %> prohibited this secry from being saved:</h2>

      <ul>
      <% @secry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tuoi %><br />
    <%= f.text_field :tuoi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
