<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @secry.name %>
</p>

<p>
  <b>Tuoi:</b>
  <%= @secry.tuoi %>
</p>


<%= link_to 'Edit', edit_secry_path(@secry) %> |
<%= link_to 'Back', secries_path %>
