<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @secryty.name %>
</p>

<p>
  <b>Cmt:</b>
  <%= @secryty.cmt %>
</p>


<%= link_to 'Edit', edit_secryty_path(@secryty) %> |
<%= link_to 'Back', secryties_path %>
